@import "tailwindcss";
@import "@heroui/styles";


::-webkit-scrollbar {
  width: 2px;               
  height: 2px;              
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;            
  border-radius: 9999px;    
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

* {
  scrollbar-width: thin;             
  scrollbar-color: #27272a #09090b;
}

